* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: white;
    transition: 0.3s ease;
}

@media (min-width: 200px) and (max-width: 480px) {
    nav .sticky-top {
        top: 0;
        z-index: 1020;
    }
    .navbar-toggler {
        font-size: 5vw !important;
        margin: 1vw 0;
        margin-left: 85%;
    }
    .navbar {
        padding: 2vw 0 !important;
    }
    nav ul li {
        padding: 0.8vw 0 !important;
    }
    nav a {
        font-size: 4vw !important;
    }
    #current {
        font-size: 5vw !important;
    }
    .btn {
        margin: 0 1.3vw;
        font-size: 3.5vw;
    }
    #info3 h1,
    #info2 h2,
    #info2 p,
    #info1 p,
    #info1 h2 {
        margin-bottom: 0 !important;
    }
    #info1 p {
        margin-left: 28vw !important;
    }
    #info2 p {
        font-size: 1.7vw !important;
    }
    .text p {
        font-size: 2.2vw !important;
    }
}

@media (min-width: 200px) and (max-width: 768px) {
    #me-pics-height {
        width: 60%;
    }
    #row-img {
        object-fit: cover !important;
        width: 60%;
        margin: auto !important;
        padding-top: 4%;
    }
    #reverse-me {
        display: flex;
        flex-direction: column-reverse;
    }
    #jrca-row-img img {
        object-fit: cover;
        width: 60% !important;
        margin: 2%;
        opacity: 1 !important;
    }
    #jrca-row-text:hover {
        opacity: 0.01 !important;
    }
    #jrca-row-text p,
    #jrca-row-text h3 {
        padding: 2% !important;
        margin: 1%;
    }
    #educ-section2 .row {
        background-position: 0% 100% !important;
    }
    #jrca-carousel {
        width: 95% !important;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    nav ul li {
        padding: 1vw 1.5vw !important;
    }
    nav a {
        font-size: 2vw !important;
    }
    #current {
        font-size: 2.7vw !important;
    }
}

@media (min-width: 481px) and (max-width: 1020px) {
    .container {
        max-width: 100%;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }
    .btn {
        margin: 0 1vw;
        font-size: 2.7vw;
    }
    #info3 h1,
    #info2 h2,
    #info2 p,
    #info1 p,
    #info1 h2 {
        margin-bottom: 2vw !important;
    }
}

@media (min-width: 769px) {
    .btn {
        margin: 0 1.3vw;
        font-size: 2vw;
    }
    nav ul li {
        padding: 0.75vw 1.5vw !important;
    }
    nav a {
        font-size: 1.5vw !important;
    }
    #current {
        font-size: 2.2vw !important;
    }
    .btn {
        margin: 0 1vw;
        font-size: 2.7vw;
    }
    .btn:first-child {
        padding: 0.375rem .9rem;
    }
}

@media (min-width: 1025px) {
    p {
        font-size: 120%;
    }
    .btn {
        margin: 0 2vw;
        font-size: 1.7vw;
    }
    nav ul li {
        padding: 1vw 1.5vw !important;
        font-size: 1vw !important;
    }
    nav a {
        font-size: 1.2vw !important;
    }
    #current {
        font-size: 1.9vw !important;
    }
}

@media (min-width: 1538px) {
    p {
        font-size: 125%;
    }
    .btn {
        margin: 0 2.3vw;
        font-size: 1.5vw;
    }
    nav ul li {
        padding: 0.8vw 1.3vw !important;
        font-size: 0.8vw !important;
    }
    nav a {
        font-size: 1vw !important;
    }
    #current {
        font-size: 1.6vw !important;
    }
    .container {
        max-width: 90%;
    }
}


/* 

Navigation Bar
    
*/

.navbar {
    background-color: black;
}

ul.navbar-nav {
    padding: 0;
}

nav a {
    font-size: 1.5vw;
}

nav ul {
    background-color: black;
    /* margin: 1rem; */
    padding: 0 10rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* 
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 25%; */
}

nav ul li {
    padding: 3vw 3vw;
    text-align: center;
    list-style: none;
}

nav ul li:hover {
    /* background-color: rgba(83, 72, 72, 0.5); */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

#current-li {
    background-color: rgba(247, 55, 55, 0.803);
    border-radius: 5px;
    text-decoration: none;
}

#current {
    pointer-events: none;
    color: white;
    text-decoration: none !important;
}

.navlink {
    color: white;
    text-decoration: none;
}

.navlink:visited {
    color: white;
}

.navlink:hover {
    font-size: 1.6vw !important;
    font-weight: 900;
    color: rgba(247, 55, 55, 1) !important;
}


/* BOOTSTRAP */

.container {
    max-width: 95%;
    max-height: 500px;
}

.img-fluid {
    max-height: 100%;
}

hr {
    color: rgb(25, 100, 190);
}


/*
G E N E R A L  C S S
*/

body {
    /* background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.99), rgb(253, 40, 40)); */
    /* background-color: rgb(215, 186, 186); */
    /* background-color: rgb(255, 238, 238); */
    /* background-color: rgb(241, 105, 105); */
    /* background-color: rgb(4, 34, 86); */
    background-color: rgb(16, 26, 40);
}

p {
    margin: 1rem;
    padding: 1rem;
}

p.navbar-toggler:hover {
    background-color: rgba(83, 72, 72, 0.5);
}

div.text>h1,
div.text>h2,
div.text>h3,
div.text>p {
    margin: 0;
    padding: 0;
}

.images img {
    max-width: none;
    height: auto;
}

.dates {
    margin-left: 3rem;
    padding: 1rem;
}


/* Introduction UPPER */

#banner {
    position: relative;
    height: 50vw;
    background: url("/images/introduction/introductory.jpg") no-repeat scroll;
    background-size: cover;
    z-index: 1;
    padding-bottom: 10vw;
}

#banner .container {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 50vw;
}

#banner .text {
    text-align: right;
    padding-top: 33vw;
    padding-left: 13vw;
}

#banner .text h1 {
    display: inline-block;
    color: white;
    background-color: rgba(247, 55, 55, 0.82);
    font-size: 4vw;
    padding: .5vw .5vw;
    box-shadow: 1vw 1vw 2.5px rgba(0, 0, 0, 0.7);
}

#banner .text span {
    font-weight: bold;
}

#banner .text p {
    display: inline-block;
    margin-top: 1vw;
    padding: 0.5vw;
    border-radius: 5px;
    font-size: 2vw;
    text-align: right;
    background-color: rgba(134, 134, 134, 0.27);
}

#banner .images img {
    width: 35.8vw;
}


/* Introduction LOWER */

#banner2 {
    position: relative;
    height: 50vw;
    background: url("/images/introduction/introductory2.jpg") no-repeat scroll;
    background-size: cover;
    z-index: 1;
}

#banner2 .container {
    display: grid;
    grid-template-columns: 55% 45%;
    height: 50vw;
}

#banner2 .images img {
    /* width: 26.5vw; */
    width: 28.15vw;
}

#banner2 .text {
    display: flex;
    flex-direction: column;
    text-align: right !important;
    padding-top: 4vw;
    /* padding-left: 13vw; */
}

#banner2 .text h1 {
    display: inline-block;
    color: white;
    background-color: rgba(247, 55, 55, 0.82);
    font-size: 4vw;
    padding: .5vw .5vw;
    box-shadow: -1vw 1vw 2.5px rgba(0, 0, 0, 0.7);
    /* @media screen and (max-width: 768px) {
        box-shadow: -2px 2px 2.5px rgba(0, 0, 0, 0.7);
    } */
}

#banner2 .text h2 {
    display: inline-block;
    color: white;
    background-color: rgba(247, 55, 55, 0.82);
    font-size: 3vw;
    padding: .5vw .5vw;
    box-shadow: -1vw 1vw 2.5px rgba(0, 0, 0, 0.7);
    /* @media screen and (max-width: 768px) {
        box-shadow: -2px 2px 2.5px rgba(0, 0, 0, 0.7);
    } */
}

#banner2 .text span {
    font-weight: bold;
}

#banner2 .text p {
    margin: 0.5vw 0 2vw 29vw;
    padding: 1vw 2vw;
    border-radius: 15px;
    font-size: 1.2vw;
    text-align: center;
    background-color: rgba(134, 134, 134, 0.27);
}

#info3 h1 {
    margin: 0.5vw 0 6vw 0;
    font-weight: bold;
    font-size: 5vw !important;
    text-align: left;
    background-color: rgba(253, 173, 167, 0.835) !important;
    color: rgb(0, 0, 0) !important;
}

#info2 p {
    margin: 0.5vw 0 2vw 20vw !important;
}

#banner2:after {
    position: absolute;
    content: '';
    background-image: -webkit-radial-gradient(rgba(78, 78, 78, 0.112), rgba(171, 26, 26, 0.202), rgba(52, 51, 51, 0.157)), url("images/overlay.png");
    /* background-image: -webkit-linear-gradient(top, rgba(77, 77, 77, 0.071),rgba(255, 255, 255, 0.201)), url("images/overlay.png"); */
    top: 0;
    left: 0;
    height: 50vw;
    width: 100%;
    z-index: -1;
}

footer {
    z-index: 1;
}


/* 

E D U C A T I O N

*/

#educ-page-header {
    display: inline;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 15vw;
    padding-bottom: 1%;
}

#educ.container-fluid {
    width: 97%;
}

section p {
    color: #000000;
    background-color: rgba(213, 213, 213, 0.8);
}

section>h2 {
    /* display: none; */
    font-size: light;
    padding: 2vw;
    background-color: rgba(247, 55, 55, 0.82);
    border-radius: var();
}

#school-link {
    color: white;
    text-decoration: none;
}

#school-link:hover {
    color: black;
    font-size: 2.8vw;
    font-weight: bold;
    text-decoration: none;
}

section>.row {
    padding: 1% 0;
}

.row p {
    margin: 2%;
    padding: 3%;
    text-align: justify;
}

#row-text,
#row-img,
#row-img2,
#jrca-row-img,
#jrca-row-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#row-img img {
    object-fit: cover;
    width: 100%;
    height: 70%;
}

#row-img2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#row-text>h3,
#jrca-row-text>h3 {
    font-weight: bold;
    padding: 2% 12%;
    border-radius: 5px;
    background-color: rgba(134, 134, 134, 0.27);
    text-align: center;
}

#row-text a {
    text-decoration: inherit;
    color: inherit;
}

#row-text a:hover {
    font-size: 110%;
    color: rgba(255, 255, 255, 0.668);
}

#me-pics-height {
    height: 100%;
    margin: auto;
    padding: 5%;
}

.programming-languages {
    margin-top: 5%;
    padding: 2%;
    width: 100%;
    background-color: rgba(134, 134, 134, 0.27);
    border-radius: 100px;
    text-align: justify
}

.programming-languages p {
    text-align: justify;
}

.programming-languages .row>div {
    display: flex;
    place-content: center;
}

.programming-languages img {
    margin: 0.5vw;
    padding: 1vw;
    width: 25%;
    height: auto;
    /* background-color: rgba(134, 134, 134, 0.1); */
    background-color: rgba(234, 206, 204, 0.887);
    border-radius: 50px;
}

#small {
    width: 60%;
    height: auto;
    padding: 2.5vw;
}

.programming-languages img:hover {
    transform: scale(1.05);
    background-color: rgba(134, 134, 134, 0.5);
    box-shadow: 7px 7px 5px 4px #000000d6;
}

#educ-section2 .row {
    position: relative;
    background: url("/images/education/stem.png") no-repeat scroll;
    background-size: 100%;
    z-index: 1;
    max-width: 100%;
    filter: brightness(200%);
}

#jrca-row-img img {
    object-fit: cover;
    width: 100%;
    height: auto;
    opacity: 0.05;
    filter: brightness(50%);
}

#jrca-row-img img:hover {
    z-index: 15;
    opacity: 1;
    filter: brightness(50%);
}

#jrca-row-text h3 {
    padding: 4% 12%;
    filter: brightness(50%);
    background-color: rgba(82, 82, 82, 0.9);
}

#jrca-row-text p {
    padding: 4% 12%;
    filter: brightness(50%);
}

#educ-section3 img {
    object-fit: cover;
    width: 40%;
    height: auto;
    margin: auto;
    padding: 0;
    ;
}

.border-radius,
#gelo-carousel .carousel-inner img {
    border-radius: 50px;
}

.border-radius:hover {
    transform: scale(1.05);
    box-shadow: 18px 11px 1px 3px #00000094;
}


/* 
 E D U C A T I O N 

C A R O U S E L L # 1

*/

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    /* width: auto; */
    margin: 0 3.4%;
    margin-top: -4vw;
    padding: 2vw;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 3vw;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    border-radius: 15px 0 0 15px;
}

.next {
    right: 0;
    border-radius: 0 15px 15px 0;
}

.prev:hover,
.next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

.fade:not(.show) {
    opacity: 1;
}

#educ-section1 .lv-carousel {
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    margin: auto;
    padding-bottom: 1vh;
}

#educ-section1 .lv-carousel img {
    object-fit: cover;
    width: 80%;
    height: 40vw;
}

#educ-section1 .lv-carousel .lv-slides {
    display: none;
    text-align: center;
}


/* 
 E D U C A T I O N 

C A R O U S E L L # 2

*/

#educ-section2 button {
    background-color: rgba(0, 0, 0, 0.75);
}

#educ-section2 .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

#jrca-carousel {
    width: 85%;
    margin: auto;
}