* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    /* background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.99), rgb(253, 40, 40)); */
    background-color: rgb(215, 186, 186);
}

h1 {
    margin: 40px 0px 0px 40px;
}

h2 {
    margin: 40px 0px 0px 65px;
}

h3 {
    margin: 40px 0px 30px 30px;
}

.header-photo {
    object-fit: cover;
    height: 35vw;
    width: 100%;
}

.inBody {
    text-decoration: none;
    color: black;
}

.inBody:hover {
    text-decoration: underline;
}

.inBody:visited {
    color: black;
}

.navlink {
    color: white;
    text-decoration: none;
}

.navlink:hover {
    text-decoration: underline;
    /* color: red;
    text-decoration-color: red; */
}

.navlink:visited {
    color: white;
}

.dates {
    margin-left: 3rem;
    padding: 1rem;
}

p {
    margin: 1rem;
    padding: 1rem;
}

nav ul {
    background-color: black;
    /* margin: 1rem; */
    padding: 0 10rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* 
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 25%; */
}

nav ul li {
    /* border: 1px solid green; */
    padding: 1.2rem 2.5rem;
    text-align: center;
    list-style: none;
    /* display: flex;   
    justify-content: center;
    align-items: center; */
}

nav ul li:hover {
    background-color: rgba(83, 72, 72, 0.5);
}